BITRIX_WEBHOOK_URL=
BITRIX_ENTITY_TYPE=lead
BITRIX_DATE_FIELD=DATE_CREATE
BITRIX_DEAL_CATEGORY_ID=1
BITRIX_UTM_SOURCE_FIELD=UTM_SOURCE
BITRIX_UTM_MEDIUM_FIELD=UTM_MEDIUM
BITRIX_UTM_CAMPAIGN_FIELD=UTM_CAMPAIGN
BITRIX_REQUEST_TIMEOUT=120

GOOGLE_SHEET_ID=
GOOGLE_SHEET_NAME=
GOOGLE_ALLOWED_RANGE=
GOOGLE_SOURCE_SUMMARY_SHEET_NAME=Итог по источникам
GOOGLE_MEETING_LOG_SHEET_ID=1CNT1xTe5uBHo4W4ZLUh3qZLmgWy7wxe7nSsCtDXwwIo
GOOGLE_MEETING_LOG_SHEET_NAME=Meetings
GOOGLE_SERVICE_ACCOUNT_FILE=
GOOGLE_SERVICE_ACCOUNT_JSON=

REPORT_TIMEZONE=Asia/Yekaterinburg
REPORT_PERIOD_MODE=from_start_date
REPORT_START_DATE=2026-03-01
REPORT_REQUIRE_ALL_UTM=true
REPORT_UNKNOWN_SOURCE=Не определено
